<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= name %>
    </h1>
    <h2>
        <%= subtitle %>
    </h2>


    <ul>
        <% data.todos.forEach(function(todo) { %>
            <li class="box <%= todo.isChecked ? 'checked' : '' %>">
                <label>
                    <%= todo.name %>
                        <input type="checkbox" data-id="<%= todo.id %>" name="isChecked" <%=todo.isChecked ? 'checked'
                            : '' %>>
                </label>
            </li>
            <% }); %>
    </ul>

    <script>
        let myarray;

        async function loadTodos(){
            const req = await fetch('/todos');
            let res = await req.json();
            myarray = res;
        }

        async function changeTask(index,checked = false) {
            if(!index){
                alert('Empty');
                return;
            }
            const req = await fetch(`/todos/${index}/${checked}`,{
                method:'PATCH'
            })
            const res = await req.json();
            console.log(res);
        }

        document.addEventListener('DOMContentLoaded',()=>{
            loadTodos();
        })


        document.querySelectorAll('li input').forEach((item) => {
            item.addEventListener('change', () => {
                console.log(item, myarray);
                const id = item.dataset.id;
                const index = myarray.findIndex((item) => item.id == id)

                myarray[index].isChecked = item.checked;
                changeTask(id,item.checked);
            })
        })



        // item.addEventListener('click',()=>{
        //         console.log(item.dataset.id,item.checked);
        //         fetch('/todos',{
        //                 method:'POST',
        //                 headers: {
        //                         'Content-Type': 'application/json'
        //                     },
        //                     body:JSON.stringify({id:item.dataset.id,checked: item.checked})
        //                 }).then((res)=>{
        //                         console.log(res);
        //                     })
        //                 })

    </script>

</body>

</html>